
.navbar{
  display: flex;
  position:relative;
 /*  justify-content: space-between;
  padding:1.5rem 5rem; */
  
}

.navbar_icon{
  position:absolute;
  width:4rem;
  object-fit: contain;
  top:10%;
  right:10%;
}
