.body{
  background-color: var(--quinary-color);
  overflow-y: scroll;
  
}

.heading_section{
  margin:2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dividing_lines{
  width:25%;
  height:0.2rem;
  background-color: var(--secondary-color);
  border:none;
  margin:0 4rem;

}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:15vh 25vw;
}

.paragraph{
  text-align: left;
  margin:0.5rem;
}


.carouselImage {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  position: relative;
}

.carouselImage >img{
  width:25rem;
  height:13rem;
  object-fit: cover;
}

.image_slide{
  display: flex;
  position:absolute;
  justify-content: center;
  align-items: center;
  height:1.35rem;
  bottom:7rem;
  position: absolute;

  
}


.testOnImageHere{
    background-color: var(--quinary-color); 
    padding: 10px; 
    margin: 0px 50px;
    width:fit-content;
    height:fit-content;
    
}



.arrows{
    width:2rem;

}

.departments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}




.department_title{
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.departments_name > li{
  list-style: none;
  margin:1rem 0;


}

.scroller{
  width:2rem;
  color:var(--primary-color);
}

.scroller:hover{
  color:var(quaternary-color);
}