.body{
  background-color: var(--dark-blue);
  height:100vh;
   color:var(--font-white);
    font-family: var(--font-family);
 

}

.heading_section{
  margin:2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dividing_lines{
  width:25%;
  height:0.2rem;
  background-color: var(--primary-cl);
  border:none;
  margin:0 4rem;

}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:15vh 25vw;
}

.paragraph{
  text-align: left;
  margin:0.5rem;
}

.carouselImage {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;
      }

.carouselImage >img{
  width:25rem;
  height:13rem;
  object-fit: cover;
  position: relative;


}



.testOnImageHere{
    background-color: rgba(16, 46, 53, 0.5); 
    padding: 10px; 
    margin: 0px 50px;
    width:fit-content;
    height:fit-content;
}

.image_slide{
  display: flex;
  position:absolute;
  justify-content: center;
  align-items: center;
  height:1.35rem;
  bottom:25rem;

  
}

.arrows{
    width:2rem;

}

.departments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--dark-blue);

  
}


.department_title{
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.departments_name > li{
  list-style: none;
  margin:1rem 0;


}