.main{
    background-image: url(../public/background-images/backgroundMountainUpsideDown.jpg);
    height:100vh;
    width:100vw;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.heading_section{
  margin:2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dividing_lines{
  width:25%;
  height:0.2rem;
  background-color: var(--secondary-color);
  border:none;
  margin:0 4rem;

}

.subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:9rem;
}

.heading{
    width:fit-content;
}

.form_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
    
}

.fieldset{
    border: 1px solid var(-quaternary-color);
    padding:2rem;

}

.input_field{
    width:18rem;
}

.label{
    text-align: left;
}
.table_col{
    display: flex;
}

.button{
    width:5rem;
    padding:0.5 1rem;
    margin:0 auto;
}