/* .container {
    padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
} */

.navbar{
  display: flex;
  justify-content: space-between;
  padding:1.5rem 5rem;
}

.navbar_icon{
  width:4rem;
  object-fit: contain;
}

.main {
  background-image: url(../public/background-images/backgroundMountain.jpg);
  height:100vh;
  width:100vw;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;

 
}

.heading{
  color:var(--font-white);
  margin-top:15%;
  margin-left:20%;
  margin-bottom: 2rem;
}

.breakLine{
  width:40%;
  height:0.35rem;
  background-color: var(--primary-cl);
  border:none;
}